.tmp/
.cache/
.git/
build/
.gitignore
.next/
.dockerignore
Dockerfile
docker-compose.yml
nginx/

.git
.gitignore
coverage
LICENSE
README.md
CONTRIBUTING.md
docker-compose.yml
Dockerfile
.github
.vscode
npm-debug.log
npm-debug.log.*